---
title: "Aramburu Lab - Team"
layout: gridlay
excerpt: "Aramburu Lab: Team members"
sitemap: false
permalink: /team/
---

<div class="row" style="margin-bottom: 0">
   <p style="text-align: center; padding-top: 50px">
      <strong>We are  looking for new PhD students, Postdocs, and Master students to join the team!</strong>  <a href="{{ site.url }}{{ site.baseurl }}/vacancies">(See openings)</a>
   </p>
</div>
<br id="team-row" />
<h1>Team</h1>
<div class="row people-row">
   {% for member in site.data.team_members.members %}
   {% assign person = site.data.team_members[member] %}
   {% if person.url %}
   {% assign person_url = person.url %}
   {% else %}
   {% assign person_url = site.url | append: site.baseurl | append: "/team/" | append: member | append: ".html" %}
   {% endif %}
   <div class="col-sm-3">
      <div id="{{member}}" class="card card-team-member">
         <a href="{{ person_url }}">
         <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ person.photo }}" width="100%" class="img-responsive imgteam" style="margin-top: 0; float: left" /></a>
         <div class="card-body">
            <p class="title">{{ person.name }}</p>
            <p class="detail">{{ person.info }}</p>
            <div class="detail team-links">
               <ul class="team-links-list">
                  {% for link in person.links %}
                  {% if link.name contains 'mail' %}
                  <li><a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a></li>
                  {% else %}
                  <li><a href="{{link.url}}" target="_blank">{{link.name}}</a></li>
                  {% endif %}
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
<br id="alumni-row" />
<h1>Alumni</h1>
<div class="row people-row">
   {% for member in site.data.team_members.alumni %}
   {% assign person = site.data.team_members[member] %}
   <div class="col-sm-3">
      <div id="{{member}}" class="card card-team-member">
         <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ person.photo }}" width="100%" class="img-responsive imgteam" style="margin-top: 0; float: left" /></a>
         <div class="card-body">
            <p class="title">{{ person.name }}</p>
            <p class="detail">{{ person.info }}</p>
            <div class="detail team-links">
               <ul class="team-links-list">
                  {% for link in person.links %}
                  {% if link.name contains 'mail' %}
                  <li><a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a></li>
                  {% else %}
                  <li><a href="{{link.url}}" target="_blank">{{link.name}}</a></li>
                  {%endif%}
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>